// ============================================================================
// Gallery
// ============================================================================

$gallery-padding:   0.5rem;

.gallery {
  @extend .list;
  @extend %clearfix;
  margin: $spacer 0;

  @include media($screen-sm-up) {
    margin: $spacer 0 $spacer (-$gallery-padding);
  }
}

.gallery__item {
  margin-bottom: $gallery-padding;

  @include media($screen-sm-up) {
    float: left;
    padding-left: $gallery-padding;
  }
}

.gallery__link {
  display: block;

  img {
    width: 100%;
  }
}

@include media($screen-sm-down) {
  .gallery__item {
    display: none;

    &:first-child {
      display: block;
      margin: 0;
      width: 100%;
    }
  }
}
