// ============================================================================
// Header
// ============================================================================

.header {
  background-color: $white;
  box-shadow: 0 0 8px rgba($black, 0.15);
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: transform 200ms ease-in-out;
  width: 100%;
  will-change: transform;
  z-index: 1;
}

.header--pinned   { transform: translateY(0%); }
.header--unpinned { transform: translateY(-100%); }

// Nav
// ----------------------------------------------------------------------------

.header__nav {
  align-items: center;
  display: flex;

  .nav__link {
    @extend %upper;
    color: $gold;
    display: block;
    font-weight: $font-weight-bold;
    height: $header-height;
    line-height: $header-height;

    &:hover {
      color: $link-color;

      svg {
        fill: $link-color;
        stroke: $link-color;
      }
    }

    @include media($screen-md-down) {
      height: $header-height-sm;
      line-height: $header-height-sm;
    }

    @include media($screen-xs-up) {
      padding: 0 1rem;
    }
  }

  .nav__link--active,
  .nav__link--active:hover {
    color: $text-color;

    svg {
      fill: $text-color;
      stroke: $text-color;
    }
  }
}

// Logo
// ----------------------------------------------------------------------------

.header__logo {
  .nav__link {
    display: flex;
    align-items: center;
  }

  svg {
    fill: $text-color;
    transition: $timing-base $easing-base fill,
                $timing-base $easing-base stroke;
    width: 3rem;
    max-height: 100%;
  }
}

@include media($screen-sm-down) {
  .header {
    font-size: $font-size-sm;
  }
}

@include media($screen-xs-down) {
  .header__nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .header__logo svg {
    width: 2rem;
  }
}
